p{ 
    font: normal 12pt times;
    text-indent: 50px; /* tamanho do paragrafo*/
    margin: 10px 50px 10px 30px;
}
h1{
    font: normal 35pt horta;
    line-height: 3px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.46);
    padding: 20px 0px 10px 0px;
    margin: 10px 267px 60px 267px;
}
h2{
    background-color: rgba(0, 0, 0, 0.51);
    padding: 5px 0px ; /*espaçamento interno*/
    margin: 0px 275px 0px 30px;
}
h3{
    text-align: center;
    margin: auto;/*espaçamento externo*/
    text-decoration: underline;
    text-shadow: #000 1px;
}
body{
    background-image: url(nuvens.jpg);
    /*forma resumida da borda*/ 
    border-bottom: 3px dashed rgba(255, 0, 0, 0.496);
    color: antiquewhite;
}
figure{
    text-align: center;
}
img{
    text-align: right;
}
